DATABASE_URL=mysql://root:rasikh@localhost:3306/react_hono_starter
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=rasikh
DATABASE_NAME=react_hono_starter
DATABASE_PORT=3306

JWT_SECRET=xEDdedSoN+pC6iGsiDKQ0xStyd2mUAEyGLbxlHQ4V2I=
ENV=local
